extends layouts/main
include mixins/videoBlock

block content
    .search-results
        if videos.length === 0
            p.search-results__no-videos 🤨 No videos found.
        each video in videos
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                creator:video.creator
            })