.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer__icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 44px;
    margin-bottom: 4px;
  }
  .footer__text {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 800;
  }
}
