.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $header-height;
  z-index: 9;
  background-color: #eeeeee;
  border-bottom: 1px silver solid;
  .header__wrapper {
    width: 100%;
    height: 100%;
    padding: 0px 24px;
    display: grid;
    grid-template-columns: 140px 1fr 240px;
    .header__column {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    .header__column:first-child {
      font-size: 22px;
      a {
        .homeIcon {
          margin-right: 4px;
        }
        .homeText {
          font-family: "Leckerli One", cursive;
          font-size: 24px;
        }
      }
    }
    .header__column:nth-child(2) {
      form {
        width: 100%;
        input {
          all: unset;
          width: 100%;
          background-color: white;
          border: 1px solid silver;
          border-radius: 2px;
          box-shadow: inset 0 1px 2px silver;
          padding: 8px;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
    .header__column:last-child {
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 300;
        li {
          margin-left: 8px;
        }
      }
    }
  }
}
