.videoBlock {
  display: flex;
  flex-direction: column;
  .videoBlock__thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
    video {
      width: 100%;
      // object-fit: cover;
    }
  }
  .videoBlock__title {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .videoBlock__info-container {
    display: flex;
    align-items: center;
    .videoBlock__creator-avatar {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      margin-right: 4px;
    }
    .videoBlock__creator,
    .videoBlock__views {
      color: grey;
    }
    .videoBlock__separator {
      margin: 0px 4px;
    }
  }
}
