.social-login
    a(href=routes.github)
        button.social-login__github
            img(src="https://jaehyun-study-wetube.s3.ap-northeast-2.amazonaws.com/assets/GitHub-Mark-120px-plus.png")
            span
                |Continue with GitHub
    a(href=routes.naver)
        button.social-login__naver
            img(src="https://jaehyun-study-wetube.s3.ap-northeast-2.amazonaws.com/assets/Log+in+with+NAVER_Icon_Green.PNG")
            span
                |Continue with NAVER
